@import "../respond-to";
// -----------------------------------------------------------------------------
//
// Layout component
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Placeholders
// -----------------------------------------------------------------------------

%column {
  @include respond-to(medium) {
  	float: left;
  }
}

%container {

	&:after {
		clear: both;
		content: "";
		display: table;
	}

}

%section {
	clear: both;
	display: block;
}
