// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

@function proportional($multiple: 1) {
	$proportion: $multiple * $proportional-base;
	@return if($relative, relative($proportion), $proportion);
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

@function font-size($size, $context: $font-size) {
	@return if($relative, relative($size, $context), $size);
}

@function font-leading($font-size, $ratio: 1.5) {
	$counter: 0;
	$leading: 0;

	@while  (($leading / $font-size) < $ratio) {
		$counter: $counter + 1;
		$leading: $counter * $font-leading;
	}

	@return if($relative, relative($leading), $leading);
}

// -----------------------------------------------------------------------------
// Units
// -----------------------------------------------------------------------------

@function rem($value, $context: $font-size) {

	@if (type-of($value) == "number") and (unit($value) == "px") {
		$value: ($value / $context) * 1rem;
	}

	@return $value;
}

@function relative($value, $context: $font-size) {
	@return if($relative, rem($value), $value);
}
